.card {
  border-radius: 8px;
  overflow: hidden;
  width: 32%;
}

.image {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: inset 0 -126px 89px -104px black;
}

.title{
  display: flex;
  height: 100%;
  align-content: flex-end;
  align-items: flex-end;
  padding: 10px 10px;
  font-size: 20px;
  color: white;
}

.details {
  padding: 0.75rem;
}

.details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.artist {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.avatar {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border-radius: 50%;
}
